.key {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    padding: 5px 10px;
}

.task-box {
    padding: 15px;
    background-color: #f0f0f0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    text-align: left;
    width: fit-content;
    /* Makes the box fit the content */
    margin-left: auto;
    /* Center the box horizontally */
    margin-right: auto;
    /* Center the box horizontally */
}

.bold-text {
    font-weight: bold;
}